.ves-megamenu-menu-tree .admin__fieldset > .admin__field > .admin__field-label{
    width: 90px;
}
.ves-megamenu-menu-tree .admin__control-select,
.ves-megamenu-menu-tree .ui-datepicker .ui-datepicker-title select{
    min-width: 200px;
}

.ves-megamenu-menu-tree .menu-options > .admin__field > .admin__field-label {margin-left: 0px}
.ves-megamenu-menu-tree  .menu-options {margin-right: 10px}
.ves-megamenu-menu-tree .col-md-6 {
    width: 50%;
    float: left;
}
.ves-megamenu-menu-tree .col-md-6 .admin__fieldset.fieldset {display: inline-block;}



/**
 * Nestable CSS Style
 */
.dd { position: relative; display: block; margin: 0; padding: 0; max-width: inherit; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color:#eb5202; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */
.nestable-lists { display: block; clear: both; padding: 20px 0; width: 100%; border: 0; border-top: 1px solid #ddd; border-bottom: 5px solid #ddd; }

#nestable-buttons { padding: 0; margin: 0px 0px 20px 0px; display: inline-block;}

#nestable-output,
#nestable2-output { width: 100%; height: 1em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

    /*.dd { float: left; width: 48%; }*/
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #eb5202 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #e6e6e6;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #eb5202; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: move; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }


#menu-loading {
    height: 100%;
    width: 100%;
    position    : fixed;
    z-index     : 99; /* or higher if necessary */
    top         : 0;
    left        : 0;
    overflow    : hidden;
    text-indent : 100%;
    font-size   : 0;
    opacity     : 0.6;
    background  : #fff  url('../images/loader.gif') center no-repeat;
}

.del-button {cursor:pointer;text-decoration:none;}
.edit-button {cursor:pointer;text-decoration:none;}
.span-right {float:right;}

.ves-megamenu-menu-tree .page-actions {margin: 0px 0px 0px 20px; float: none; float: right;}
.page-actions a.action{margin: 0px 0px 10px;}
.sub-actions a {cursor: pointer;font-size: 18px;height: 33px;margin: 0 10px;}
.sub-actions a:hover{color: #eb5202;}
.sub-actions .fa.fa-toggle-on { color: green;}
.sub-actions .fa.fa-toggle-off { color: grey; }
.dd3-content img.menu-icon {height: 100%;overflow: hidden;width: auto;}
.dd3-content .menu-item-title:hover {cursor: pointer;}
.page-menu-items {
    border-top: 1px solid #e3e3e3;
    padding-top: 2.5rem;
}

.action-col {
    width: 50%;
    position: relative;
}
.action-col.left-col {
    float: left;
}
.action-col.right-col {
    float: right;
}

.menu-item-title {position: relative;}
.cat-label {
    color: #fff;
    font-size: 14px;
    padding: 0 4px;
    text-transform: none;
    vertical-align: middle;
    font-weight: normal;
}

.cat-label-v1 {
    background: #5bd2ec none repeat scroll 0 0;
}

.cat-label-v2 {
    background: #d52462 none repeat scroll 0 0;
}

.cat-label-v3 {
    background: #0cc485
}

.cat-label.pin-top {
    line-height: 16px;
    padding: 0 4px;
    position: absolute;
    right: 0px;
    top: -13px;
}

.cat-label.pin-top::before {
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    height: 0;
    position: absolute;
    right: 6px;
    top: 16px;
    width: 0;
}

.cat-label-v1.pin-top::before {
    border-top-color: #5bd2ec;
}

.cat-label-v2.pin-top::before {
    border-top-color: #d52462;
}
