@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?dn50ec');
    src:    url('../fonts/icomoon.eot?dn50ec#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dn50ec') format('truetype'),
    url('../fonts/icomoon.woff?dn50ec') format('woff'),
    url('../fonts/icomoon.svg?dn50ec#banner') format('svg');
    font-weight: normal;
    font-style: normal;
}


body .admin__menu .item-megamenu > a::before {
    font-family: 'icomoon' !important;
    content: "\e9bd" !important;
}

