/** GLOBAL VAR **/
body {
}
/** help style **/
* { /*border: 1px solid #f00;*/}
/*.ves-megamenu .nav-item > .dropdown-menu {display: block !important;}*/



.ves-menu {
    padding: 0;
    margin: 0;
}
.widget {
    color: #000000;
}
.ves-megamenu * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ves-megamenu{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
.mega-menu-wrapper {
    display: block;
    position: relative;
    padding: 0 10px;
    background: #f4f4f4;
}
.navigation.empty {padding: 0 20px;}


.mega-menu {
    margin: 0 auto;
    list-style: none;
}
.megamenu-outter {
    background: #f0f0f0;
    position: relative;
    display: block;
    width: 100%;
}
.ves-megamenu .nav-anchor {
    position: relative;
}
/*.fa:before {font-size: 26px; overflow: hidden}*/
i.font-awe {
    vertical-align: middle;
    margin: 0 5px;
}

.ves-megamenu .dynamic-content > .nav-item.dynamic-active {
    display: block
}
.ves-megamenu .dynamic-content > .nav-item.dynamic-active {
    display: block
}
.ves-megamenu .dynamic-items ul li:first-child {
    border-top: none;
}
.ves-megamenu .dynamic-items ul li:last-child {
    border-bottom: none;
}
.ves-megamenu .dynamic-items ul li {
    border: 1px solid #e0dace; margin-bottom: 0px;border-left: none; border-bottom: none;
}
.ves-megamenu .dynamic-items ul li.dynamic-active {
    border-right: none;
    border-left: none;
    background: #eae8e4;
}

.ves-megamenu .submenu .dynamic-item.dynamic-active {display: block;}
.ves-megamenu .submenu .dynamic-item {display: none}
.ves-megamenu .dynamic-item .product-item-info .onsale {background: #00A5E3; color: white; text-transform: uppercase; padding: 3px 5px;}
.ves-megamenu .dynamic-item .product-item-info .new-icon {background: #e21717; color: white; text-transform: uppercase; padding: 3px 5px;}
.ves-megamenu .megamenu-widget .block-title {
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.5em;
    line-height: 1.2222em;
}
.ves-megamenu .megamenu-widget .block-title strong {
    font-weight: 700;
}

.ves-megamenu .reviews-actions {display: none}

/** carousel bootstrap **/
.ves-megamenu .carousel {position: relative;}
.ves-megamenu .carousel .carousel-controls {position: absolute; right: 0; top: -8px; width: 100px; z-index:999; }
.ves-megamenu .carousel .carousel-controls a.carousel-control:hover {background-color: #000000; color: white !important;}
.ves-megamenu .carousel .carousel-controls .carousel-control {display: block; opacity: 1; color: #333333; top: 0; text-shadow: 0; display: inline-block; background: #f5f5f5; border: 1px solid #000000; }
/*.ves-megamenu .carousel .carousel-controls a.carousel-control:before {position: absolute; text-align: center; left: 50%; margin-left: -6px; margin-top: -1px; }*/
.ves-megamenu .carousel-indicators {position: relative; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding: 0; width: 100%; float: left;}
.ves-megamenu .carousel-indicators li {width: 10px; height: 10px; display: inline-block; text-indent: -999px; border: 1px solid #1979c3; border-radius: 10px; cursor: pointer;}
.ves-megamenu .carousel-indicators li.active {background: #1979c3; width: 12px; height: 12px;}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 0;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.carousel-inner .item:first-child {
    padding-top: 10px;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
}


@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }

    .carousel-inner > .item.next, .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

/* fix widget style*/
.ves-megamenu .block.widget .products-grid .product-item {
    width: 100% !important;
}

/** desktop **/
@media only screen, only print and (min-width: 768px) {
    .navigation ul {
        padding: 0px 17px !important;
    }
    .ves-megamenu{
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .ves-megamenu .level0{
        float: left;
        margin: 0;
    }

    .megamenu-outter {
        margin-bottom: 10px;
    }

    .navigation .level0 .submenu .submenu.dropdown-menu {
        left: 7% !important;
        top: 0px;
    }

    .navigation .level0 .submenu a.action {padding: 8px 11px;}
    .navigation .dropdown-submenu.level1 .submenu {
        width: auto;
    }

    /** widget products **/
    .ves-megamenu .submenu .dynamic-items ul {padding-right: 0px !important; padding-left: 0px !important;}
    .ves-megamenu .submenu .dynamic-content .megamenu-widget .owl-item {min-width: 215px;}
    .ves-megamenu .submenu .dynamic-content .product-item-info {width: 100%;}


}

/** mobile **/
@media only screen and (max-width: 767px) {
    #maincontent .columns {clear: both; display: block; width: 100%;}
    /* nav */


    /* end nav */

    .navigation ul {
        padding: 0px 10px !important;
    }
    .ves-megamenu .level0{
        float: none;
        display: block;
    }
    .block-promo-wrapper .block-promo {
        float: none; display: block;
        width: 100%; padding: 0; margin: 2px 0; height: 100%;
        border: 0px;
    }
    .navigation .level0 {margin: 0px !important;}
    .ves-megamenu .nav-item:hover > .dropdown-menu {
        width: 100% !important;
    }

    .navigation ul {
        padding: 0px !important;
        width: 100%;
    }
    .columns .column.main {width: 100%;}
    img {max-width: 100% !important; height: auto;}
}

.fa:before {
    /*float: left; padding: 5px 0px; color: black; */
    font-size: 15px;
}

.caret {
    display: inline-block;
    width: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

img.icon-left {vertical-align: middle;}


.ves-megamenu li.level0 > a {
    position: relative;
    line-height: 45px;
    /*float: left;*/
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.ves-megamenu .nav-item > a {
    line-height: 45px;
}

.ves-megamenu.menu-hover li .dropdown-menu {
    position: absolute;
}
.ves-megamenu li.level0:hover {
    background: #aeaeae;
    color: white;
}

.ves-megamenu li.level0:hover > a {
    color: white;
    text-decoration: none;
}

.ves-megamenu .nav-item:hover > .dropdown-menu{
    display: block !important;
    top: 45px;
}

.nav-item.fa {
    display: block;
}
.mega-col {
    padding-left: 0; padding-right: 0;
}
.navigation .submenu {
    display: none !important; font-weight: 400; border: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0,0,0,0.19); padding: 0px;
    left: 0; margin: 0 !important; z-index: 100; min-width: 320px;
}

.navigation .submenu-left.dropdown {
    position: static;
}

.navigation .level0 {
    margin: 0 10px 0 0;
    position: relative;
}
.mid-align {
    vertical-align: middle;
}

.ves-megamenu .nav-item > a {
    padding: 0 10px;
}

li.nav-item .dropdown-menu.submenu {
    height: auto;
    display: block;
    padding: 10px;
}

.cat-label {
    color: #fff;
    font-size: 14px;
    padding: 0 4px;
    text-transform: none;
    vertical-align: middle;
    font-weight: normal;
}

.cat-label-v1 {
    background: #5bd2ec none repeat scroll 0 0;
}

.cat-label-v2 {
    background: #d52462 none repeat scroll 0 0;
}

.cat-label-v3 {
    background: #0cc485
}

.cat-label.pin-top {
    line-height: 16px;
    padding: 0 4px;
    position: absolute;
    right: 20px;
    top: -10px;
}

.cat-label.pin-top::before {
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    height: 0;
    position: absolute;
    right: 6px;
    top: 16px;
    width: 0;
}

.cat-label-v1.pin-top::before {
    border-top-color: #5bd2ec;
}

.cat-label-v2.pin-top::before {
    border-top-color: #d52462;
}

.submenu .dropdown-menu {
    position: static;
}
.mega-col-level2 .submenu {
    position: relative;
    color: #000000;
}
/** Submenu products */
.submenu .toolbar {
    clear: both;
}
.toolbar-products {
    display: block;
    clear: both;
}

.dropdown-menu .nav-dropdown ol.product {

}

.dropdown-menu .nav-dropdown li.product-item {

}

.dropdown-menu .nav-dropdown li.product-item:hover {
    background: none
}

.navigation ul .level0:last-child {
    margin-right: 0;
}
.ves-megamenu .widget .product-item .product-item-link {padding-left: 0px !important; padding-right: 0px !important;}
.ves-megamenu .widget .product-item .actions-secondary a {padding: 0px !important; display: inline-block !important; margin-right: 10px;}
.ves-megamenu .owl-carousel li.product-item {
    width: 20%;
    min-height: 300px;
}


.ves-megamenu .dropdown-menu .megamenu-footer {
    float: left;
    margin-top: 20px;
    width: 100%;
}