/*Compatible magento 2 style and bootstrap 3*/
.product-item, .product-item-info, .product-item-details {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.label{
    color: #333;
    padding: inherit;
}