<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
//@var \Vnecoms\Megamenu\Block\Widget\Menu $block
$isMobile = (bool)$block->getMobileDetect()->isMobile();

/** @var \Vnecoms\Megamenu\Helper\Data $dataHelper */
$dataHelper = $block->getDataHelper();
/** @var \Vnecoms\Megamenu\Helper\Menu $menuHelper */
$menuHelper = $block->getMenuHelper();
$mobileTemplate = '';
$menuIdentifier = '';

/** @var \Vnecoms\Megamenu\Model\Menu $menu */
if (isset($menu)) {
    $menuId = $menu->getId();
    $desktopTemplate = $menu->getDesktopTemplate();
    $mobileTemplate = $menu->getMobileTemplate();
    $animation = $menu->getAnimationType();

    if($mobileTemplate == null) $mobileTemplate = 1;
    if($mobileTemplate == 0){
        $menuclass = 'offcanvas-menu offcanvas-menu-left menu-mobile';
    }elseif($mobileTemplate == 1){
        $menuclass = 'accordion-menu menu-mobile';
    }elseif($mobileTemplate == 2) {
        $menuclass = 'drill-down-menu visually-hidden menu-mobile';
        $drilldown = 'drill-down';
    }

    if ($mobileTemplate == 0 && $block->getMobileDetect()->isMobile()) {
        /** @var \Vnecoms\Megamenu\Block\Widget\Menu $block */
        $menuHtml = $block->getMobileTemplateHtml($menu->getIdentifier());
    } else {
        $menuHtml = '';
        /** @var  \Vnecoms\Megamenu\Model\ResourceModel\Item\Collection $items */
        $items = $dataHelper->getMenuItems($menuId);
        $structure = $dataHelper->getMenuItems2($menuId);

        if (!empty($items)) {
            $rebuildItems = $menuHelper->rebuildStructure($structure);
            if (is_array($rebuildItems)) {
                // Get each item and child data and draw it
                foreach ($rebuildItems as $k => $v) {
                    $itemData = $this->menuHelper->renderMenuItemData($v, [], $items);
                    $menuHtml .= $this->menuHelper->drawItem($itemData);
                }
            }

        } else {
            $menuHtml = '<span class="no-menu">'.__('There are not menu items found!').'</span>';
        }

    }

    //Last filter data
    $menuHtml = $menuHelper->filter($menuHtml);

    if($mobileTemplate == 2) {
        $nav = 'navdrilldown';
    }else{
        $nav = 'navigation';
    }
    $id = time().rand();
    $menuIdentifier = $menu->getIdentifier();
}


?>
<?php if (isset($menu)):?>
    <div class="megamenu-outter menu-wrap ves-menu <?php echo isset($drilldown) ? $drilldown: '' ?>">
        <nav id="<?php echo $menuIdentifier ?>" class="<?php echo $nav ?>" role="navigation">
            <ul class="ves-megamenu ui-menu mgm-widget ui-widget ui-widget-content ui-corner-all animation-<?php echo (isset($animation)) ? $animation : '' ?> menu-<?php echo (isset($desktopTemplate)) ? $desktopTemplate : '' ?> <?php echo isset($menuclass) ? $menuclass : '' ?>" data-disable-bellow="768" role="menu">
                <?php echo ( isset($menuHtml) ) ? $menuHtml : 'Not found menu!' ?>
            </ul>
        </nav>
        <?php if ($menuHtml !== '') {?>
            <script type="text/javascript">
                require(['jquery', "domReady!"], function($) {
                    'use strict';
                    $("#<?php echo $menuIdentifier ?> .dynamic-items li:first").addClass("dynamic-active");
                    var id = $("#<?php echo $menuIdentifier ?> .dynamic-items li:first").data("dynamic-id");
                    $("#<?php echo $menuIdentifier ?> ." + id).addClass("dynamic-active");
                    $("#<?php echo $menuIdentifier ?> .level0 .submenu").find(".active").addClass("");
                    $("#<?php echo $menuIdentifier ?>").find(".level0 .submenu").each(function (index, elemetn) {
                        var eSelected = $(this).find(".active");
                        if (eSelected.length) {
                            $(this).addClass("active");
                        }
                    });
                    $('#<?php echo $menuIdentifier ?> p').each(function () {
                        var $this = $(this);
                        if ($this.html().replace(/\s|&nbsp;/g, '').length == 0)
                            $this.remove();
                    });


                    var mImg = '';
                    $("#<?php echo $menuIdentifier ?> img").hover(function () {
                        mImg = '';
                        mImg = $(this).attr('src');
                        if ($(this).data('hoverimg')) {
                            $(this).attr('src', $(this).data('hoverimg'));
                        }
                    }, function () {
                        $(this).attr('src', mImg);
                    });
                    $("#<?php echo $menuIdentifier ?> li a").hover(function () {
                        $(this).css({
                            "background-color": $(this).data("hover-bgcolor"),
                            "color": $(this).data("hover-color")
                        });
                    }, function () {
                        $(this).css({
                            "background-color": $(this).data("bgcolor"),
                            "color": $(this).data("color")
                        });
                    });

                    $(window).on("resize load", function(){
                        if ($("#<?php echo $menuIdentifier ?>").data("disable-bellow")) {
                            if ($(window).width() <= $("#<?php echo $menuIdentifier ?>").data("disable-bellow")) {
                                $("#<?php echo $menuIdentifier ?>").hide();
                            } else {
                                $("#<?php echo $menuIdentifier ?>").show();
                            }
                        }
                        if ($(window).width() >= 768 && $(window).width() <= 1024) {
                            $("#<?php echo $menuIdentifier ?> .nav-anchor").off().click(function () {
                                var iParent = $(this).parent('li');
                                iParent.addClass("clicked");
                                if ($(iParent).children('.submenu').length == 1) {
                                    iParent.trigger('hover');
                                    if (iParent.hasClass('submenu-alignleft') || iParent.hasClass('submenu-alignright')) {
                                        if ((iParent.offset().left + iParent.find('.submenu').eq(0).width()) > $(window).width()) {
                                            iParent.find('.submenu').eq(0).css('max-width', '100%');
                                            iParent.css('position', 'static');
                                        }
                                    }
                                    return false;
                                }
                            });
                        } else {
                            $("#<?php echo $menuIdentifier ?>").find('.submenu').css('max-width', '');
                            $("#<?php echo $menuIdentifier ?>").find('.submenu-alignleft').css('position', 'relative');
                        }
                        $("#<?php echo $menuIdentifier ?>").find("li").each(function (index, element) {
                            if ($(this).data("disable-bellow") && $(window).width() <= $(this).data("disable-bellow")) {
                                $(this).addClass("hidden");
                            } else if ($(this).hasClass("hidden")) {
                                $(this).removeClass("hidden");
                            }
                        });
                        if ($(window).width() <= 768) {
                            $("#<?php echo $menuIdentifier ?>").addClass("nav-mobile");
                        } else {
                            $("#<?php echo $menuIdentifier ?>").find(".submenu").css({'display': ''});
                            $("#<?php echo $menuIdentifier ?>").find("div").removeClass("mbactive");
                            $("#<?php echo $menuIdentifier ?>").removeClass("nav-mobile");
                        }
                    }).load();

                    //Toggle mobile menu
                    $('.navigation #<?php echo $menuIdentifier ?> .opener').on('click', function(e) {
                        e.preventDefault();
                        $("#<?php echo $menuIdentifier ?> .nav-item").removeClass("item-active");
                        var parent = $(this).parents(".nav-item").eq(0);
                        $(this).toggleClass('item-active');
                        $(parent).find(".submenu").eq(0).slideToggle();
                        return false;
                    });
                    $("#<?php echo $menuIdentifier ?>-menu .ves-navtoggle<?php echo $id ?>").click(function(){
                        jQuery("html, body").animate({ scrollTop: 1000 }, 600);
                        $('html').removeClass('nav-before-open nav-open');
                        $('.ves-overlay<?php echo $menuIdentifier ?>').show();
                        $("#<?php echo $menuIdentifier ?>-menu").append('<div class="ves-overlay ves-overlay<?php echo $menuIdentifier ?>"></div>');
                        $('#<?php echo $menuIdentifier ?>').css("left", "0px");
                        if ($('html').hasClass('ves-navopen')) {
                            $('html').removeClass('ves-navopen');
                            setTimeout(function () {
                                $('html').removeClass('ves-nav-before-open');
                            }, 300);
                        }	 else {
                            $('html').addClass('ves-nav-before-open');
                            setTimeout(function () {
                                $('html').addClass('ves-navopen');
                            }, 42);
                        }
                    });
                    $(document).on("click", ".ves-overlay<?php echo $menuIdentifier ?>", function(){
                        $('#<?php echo $menuIdentifier ?>').css("left","");
                        $('html').removeClass('ves-navopen');
                        setTimeout(function () {
                            $('html').removeClass('ves-nav-before-open');
                        }, 300);
                        $(this).remove();
                        return false;
                    });

                    /** dynamic hover effect */
                    $("#<?php echo $menuIdentifier ?> .dynamic-items li").hover(function () {
                        $(this).parents(".dynamic-items").find("li").removeClass("dynamic-active");
                        $(this).addClass("dynamic-active");
                        var id = $(this).data("dynamic-id");
                        $("#<?php echo $menuIdentifier ?> ." + id).parent().find(".dynamic-item").removeClass("dynamic-active");
                        $("#<?php echo $menuIdentifier ?> ." + id).addClass("dynamic-active");
                    });
                });
            </script>
        <?php } ?>
    </div>
<?php else: ?>
    <div class="megamenu-outter menu-wrap">
        <nav class="navigation empty" role="navigation">
            <?php echo __('Menu not exist or disabled!') ?>
        </nav>
    </div>
<?php endif; ?>
