<?php
/**
 * Widget Product list with jcarousel
 *
 * @var $block \Vnecoms\Megamenu\Block\Widget\Products
 */
?>
<?php
    $_productCollection  = [];
    $dataHelper         = $block->getDataHelper();
    $imageHelper        = $block->getImageHelper();
    $large_max_items    = (int)$this->getConfig('large_max_items',6);
    $large_items        = (int)$this->getConfig('large_items',5);
    $portrait_items     = (int)$this->getConfig('portrait_items',4);
    $tablet_items       = (int)$this->getConfig('tablet_items',4);
    $tablet_small_items = (int)$this->getConfig('tablet_small_items',2);
    $mobile_items       = (int)$this->getConfig('mobile_items',1);
    $blockId            = time().rand();
    $_helper            = $this->helper('Magento\Catalog\Helper\Output');
    $short_max_char     = (int)$this->getConfig('short_max_char',100);
    $show_learnmore     = $this->getConfig('show_learnmore');
    $block_width        = (int)$this->getConfig('block_width');
    $title = $this->getConfig("widget_title");

     if ($data = ($collection = $block->getProductCollection() && $block->getProductCollection()->getSize())) {
         $type = 'widget-new-grid';
         $mode = 'grid';
         $image = 'new_products_content_widget_grid';

         $items = $block->getProductCollection()->getItems();
         //var_dump($items);exit;
         $productCollection = $block->getProductCollection();
         //var_dump($productCollection->getData());exit;
         $number_item_percolumn = (int)$this->getConfig("number_item_percolumn", 1);
         $total = $productCollection->count();
         if($total%$number_item_percolumn == 0){
             $column = $total/$number_item_percolumn;
         }else{
             $column = floor($total/$number_item_percolumn)+1;
         }
         //if($column<$this->getConfig("column")) $column = $large_max_items;
         $i = $x = 0;
         foreach ($productCollection as $_product) {
             if($i<$column){
                 $i++;
             }else{
                 $i = 1;
                 $x++;
             }
             $_productCollection[$i][$x] = $_product;
         }

         $showWishlist    = $this->getConfig("show_wishlist");
         $showCompare     = $this->getConfig("show_compare");
         $showCart        = $this->getConfig("show_addtocart");
         $templateType    = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
         $description     = $this->getConfig("show_short_description");
         $show_name       = $this->getConfig("show_title");
         $show_price      = $this->getConfig("show_price");
         $show_review     = $this->getConfig("show_review");
         $show_image      = $this->getConfig("show_image");
         $show_new_label  = $this->getConfig("show_new_label");
         $show_sale_label = $this->getConfig("show_sale_label");
         $image_width     = $this->getConfig('image_width',150);
         $image_height    = (int)$this->getConfig('image_height');
         $item_height     = (int)$this->getConfig('item_height');

         //If image width is not specified, use default values
         if ($image_width <= 0){
             $image_width = 150;
             $image_height = 150;
         }
     }


?>
<?php if ($data): ?>
    <div class="block widget megamenu-widget products-widget">
        <?php if($title!=''){ ?>
            <div class="block-title">
                <strong><?php echo $title; ?></strong>
            </div>
        <?php } ?>
        <div class="block-content">
            <?php if($this->getConfig("nav") && count($_productCollection)>0){ ?>
                <div class="owl-nav">
                    <a href="javascript:void(0)" data-owlid="menuowl-<?php echo $blockId ?>" class="owl-left"><i class="fa fa-angle-left"></i></a>
                    <a href="javascript:void(0)" data-owlid="menuowl-<?php echo $blockId ?>" class="owl-right"><i class="fa fa-angle-right"></i></a>
                </div>
            <?php } ?>
            <div class="products-grid grid megamenuowl-play">
                <ol id="menuowl-<?php echo $blockId ?>" class="product-items items owl-carousel <?php echo $type; ?> megamenu-products<?php echo $blockId ?>"
                    data-items="<?php echo $this->getConfig("column", 3); ?>"
                    data-mousedrag="<?php echo $this->getConfig("mousedrag")?"true":"false"; ?>"
                    data-pulldrag="<?php echo $this->getConfig("pulldrag")?"true":"false"; ?>"
                    data-freedrag="<?php echo $this->getConfig("freedrag")?"true":"false"; ?>"
                    data-stagepadding="<?php echo (int)$this->getConfig("stagepadding") ?>"
                    data-lazyload="<?php echo $this->getConfig("lazyload")?"true":"false"; ?>"
                    data-rtl="<?php echo $this->getConfig("rtl")?"true":"false"; ?>"
                    data-center="<?php echo $this->getConfig("center")?"true":"false"; ?>"
                    data-margin="<?php echo (int)$this->getConfig("margin") ?>"
                    data-autoplay="<?php echo $this->getConfig("autoplay")?"true":"false"; ?>"
                    autoplay-timeout="<?php echo $this->getConfig("autoplay_timeout", 3000); ?>"
                    data-dot="<?php echo $this->getConfig("dots")?"true":"false"; ?>"
                    data-loop="<?php echo $this->getConfig("loop")?"true":"false"; ?>"
                    data-nav = "false"
                    data-autoplay-pauonhover="<?php echo $this->getConfig("autoplay_hoverpause")?"true":"false"; ?>"
                    data-mobile-items="<?php echo $mobile_items; ?>"
                    data-tablet-small-items="<?php echo $tablet_small_items; ?>"
                    data-tablet-items="<?php echo $tablet_small_items; ?>"
                    data-portrait-items="<?php echo $portrait_items; ?>"
                    data-large-items="<?php echo $large_items; ?>"
                    data-large-max-items="<?php echo $large_max_items; ?>"
                    <?php if($block_width){ ?>style="width: <?php echo $block_width; ?>px !important"<?php } ?>>
                    <?php $iterator = 1; ?>
                    <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
                    <?php foreach ($_productCollection as $_columnCollection) { ?>
                        <?php foreach ($_columnCollection as $_item): ?>
                            <div class="item product-block" <?php if($item_height){ echo "style='height:".$item_height."px; max-width: 100%;'"; } ?>>
                                <div class="product-item-info" data-container="<?php echo 'product-'.$mode ?>">
                                    <?php if($show_new_label || $show_sale_label){ ?>
                                        <div class="icon">
                                            <?php
                                            if($show_sale_label) {
                                                $specialprice = $_item->getSpecialPrice();
                                                $specialPriceFromDate = $_item->getSpecialFromDate();
                                                $specialPriceToDate = $_item->getSpecialToDate();
                                                $today =  time();
                                                if ($specialprice) {
                                                    if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)) {
                                                        ?>
                                                        <span class="onsale"><?php echo __("Sale");?></span>
                                                        <?php
                                                    }
                                                }
                                            }
                                            if($show_new_label) {
                                                $is_new = $block->checkProductIsNew( $_item );
                                                if($is_new) { ?>
                                                    <span class="new-icon"><?php echo __("New");?></span>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </div>
                                    <?php } ?>
                                    <?php if($show_image){ ?>
                                        <?php $_image = $imageHelper->getImg($_item, $image_width, $image_height, 'category_page_grid'); ?>
                                        <?php if(true){ ?>
                                            <div class="product-image">
                                                <a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo">
                                                   <img src="<?php echo $_image->getUrl(); ?>" alt="<?php echo $_image->getLabel() ?>" />
                                                </a>
                                            </div>
                                        <?php } ?>
                                    <?php } ?>
                                    <div class="product-item-details">
                                        <?php if($show_name){ ?>
                                            <strong class="product-item-name">
                                                <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                                   href="<?php echo $block->getProductUrl($_item) ?>"
                                                   class="product-item-link">
                                                    <?php echo $block->escapeHtml($_item->getName()) ?>
                                                </a>
                                            </strong>
                                        <?php } ?>

                                        <?php // Price ?>
                                        <?php if($show_price){ ?>
                                            <?php echo $block->getProductPrice($_item) ?>
                                        <?php } ?>
                                        <?php if ($show_review && $templateType): ?>
                                            <?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare || $showCart): ?>
                                            <div class="product-item-actions">
                                                <?php if ($showCart): ?>
                                                    <div class="actions-primary">
                                                        <?php if ($_item->isSaleable()): ?>
                                                            <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                                <button class="action tocart primary"
                                                                        data-mage-init='{"redirectUrl":{"url":"<?php echo $block->getAddToCartUrl($_item) ?>"}}'
                                                                        type="button" title="<?php echo __('Add to Cart') ?>">
                                                                    <span><?php echo __('Add to Cart') ?></span>
                                                                </button>
                                                            <?php else: ?>
                                                                <?php
                                                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                                ?>
                                                                <button class="action tocart primary"
                                                                        data-post='<?php echo $postData; ?>'
                                                                        type="button" title="<?php echo __('Add to Cart') ?>">
                                                                    <span><?php echo __('Add to Cart') ?></span>
                                                                </button>
                                                            <?php endif; ?>
                                                        <?php else: ?>
                                                            <?php if ($_item->getIsSalable()): ?>
                                                                <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                                            <?php else: ?>
                                                                <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                                <?php if ($showWishlist || $showCompare): ?>
                                                    <div class="actions-secondary" data-role="add-to-links">
                                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                            <a href="#"
                                                               data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
                                                               class="action towishlist" data-action="add-to-wishlist"
                                                               title="<?php echo __('Add to Wish List') ?>">
                                                                <span><?php echo __('Add to Wish List') ?></span>
                                                            </a>
                                                        <?php endif; ?>
                                                        <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                            <a href="#" class="action tocompare"
                                                               data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
                                                               title="<?php echo __('Add to Compare') ?>">
                                                                <span><?php echo __('Add to Compare') ?></span>
                                                            </a>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach ?>
                    <?php } ?>
                </ol>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        require([
            'jquery',
            'OwlCarousel',
            '!domReady'
        ], function (jQuery) {
                var owlItems = [];
                jQuery(".megamenuowl-play").each( function(){
                    var owlCarousel = jQuery(this).find(".owl-carousel");
                    var owlId = jQuery(owlCarousel).attr("id");
                    jQuery(this).addClass("hasOwl");
                    var config = [];
                    owlItems[jQuery(owlCarousel).attr("id")] = true;
                    if(typeof(jQuery(owlCarousel).data('nav'))!='underfined'){
                        config['nav'] = jQuery(owlCarousel).data('nav');
                    }
                    if(typeof(jQuery(owlCarousel).data('dot'))!='underfined'){
                        config['dot'] = jQuery(owlCarousel).data('dot');
                    }
                    if(typeof(jQuery(owlCarousel).data('autoplay'))!='underfined'){
                        config['autoplay'] = jQuery(owlCarousel).data('autoplay');
                    }
                    if(jQuery(owlCarousel).data('autoplay-timeout')){
                        config['autoplayTimeout'] = jQuery(owlCarousel).data('autoplay-timeout');
                    }
                    if(jQuery(owlCarousel).data('autoplay-pauonhover')){
                        config['autoplayHoverPause'] = jQuery(owlCarousel).data('autoplay-pauonhover');
                    }
                    if(typeof(jQuery(owlCarousel).data('rtl'))!='underfined'){
                        config['rtl'] = jQuery(owlCarousel).data('rtl');
                    }
                    if(jQuery(owlCarousel).data('items')){

                        config['items'] = jQuery(owlCarousel).data('items');
                    }
                    if(typeof(jQuery(owlCarousel).data('loop'))!='underfined'){
                        config['loop'] = jQuery(owlCarousel).data('loop');
                    }
                    if(typeof(jQuery(owlCarousel).data('mousedrag'))!='underfined'){
                        config['mouseDrag'] = jQuery(owlCarousel).data('mousedrag');
                    }
                    if(typeof(jQuery(owlCarousel).data('pulldrag'))!='underfined'){
                        config['pullDrag'] = jQuery(owlCarousel).data('pulldrag');
                    }
                    if(typeof(jQuery(owlCarousel).data('freedrag'))!='underfined'){
                        config['freeDrag'] = jQuery(owlCarousel).data('freedrag');
                    }
                    if(typeof(jQuery(owlCarousel).data('stagepadding'))!='underfined'){
                        config['stagePadding'] = jQuery(owlCarousel).data('stagepadding');
                    }
                    if(typeof(jQuery(owlCarousel).data('lazyload'))!='underfined'){
                        config['lazyLoad'] = jQuery(owlCarousel).data('lazyload');
                    }
                    if(jQuery(owlCarousel).data('margin')){
                        config['margin'] = jQuery(owlCarousel).data('margin');
                    }
                    var mobile_items = 1;
                    if(jQuery(owlCarousel).data('mobile-items')){
                        mobile_items = jQuery(owlCarousel).data('mobile-items');
                    }
                    var tablet_small_items = 3;
                    if(jQuery(owlCarousel).data('tablet-small-items')){
                        tablet_small_items = jQuery(owlCarousel).data('tablet-small-items');
                    }
                    var tablet_items = 3;
                    if(jQuery(owlCarousel).data('tablet-items')){
                        tablet_items = jQuery(owlCarousel).data('tablet-items');
                    }
                    var portrait_items = 4;
                    if(jQuery(owlCarousel).data('portrait-items')){
                        portrait_items = jQuery(owlCarousel).data('portrait-items');
                    }
                    var large_items = 5;
                    if(jQuery(owlCarousel).data('large-items')){
                        large_items = jQuery(owlCarousel).data('large-items');
                    }
                    var large_max_items = 6;
                    if(jQuery(owlCarousel).data('large-max-items')){
                        large_max_items = jQuery(owlCarousel).data('large-max-items');
                    }
                    config['responsive'] = {
                        0 : {items: mobile_items},
                        480 : {items: tablet_small_items},
                        640 : {items: tablet_items},
                        768 : {items: portrait_items},
                        980 : {items: large_items},
                        1200 : {items: large_max_items}
                    };
                    jQuery(owlCarousel).owlCarousel(config);
                    jQuery(".owl-left").click(function(){
                        var owlCarousel = jQuery("#"+jQuery(this).data("owlid"));
                        owlCarousel.trigger('prev.owl.carousel');
                        return false;
                    });
                    jQuery(".owl-right").click(function(){
                        var owlCarousel = jQuery("#"+jQuery(this).data("owlid"));
                        owlCarousel.trigger('next.owl.carousel');
                        return false;
                    });
                });


        });
    </script>
<?php else: ?>
    <div class="block widget megamenu-widget products-widget">
    <div class="block-title">
        <strong><?php echo $title; ?></strong>
    </div>
    <p><?php echo "Not found any products!"; ?></p>
    </div>
<?php endif; ?>
