<?php
// @codingStandardsIgnoreFile

/** @var  $block \Vnecoms\Megamenu\Block\Adminhtml\Renderer\TreeItem */

?>
<section>
    <div class="megamenu-menu-tree">
        <div class="row">
            <div class="col-m-12">
                <div id="menu-loading"></div>
                <div class="col-m-6">
                    <fieldset class="fieldset admin__fieldset pull-left">
                        <div class="admin__field field">
                            <label class="label admin__field-label" for="menu_group_id"><span><?php echo __('Menu') ?></span></label>
                            <div class="admin__field-control control">
                                <select id="menu_group_id" class="admin__control-select">
                                    <?php
                                    $options = $block->getMenuOptions();
                                    $menuId = (int) $block->getMenuId();
                                    foreach ($options as $key => $value) {
                                        $selected = ($value['menu_id'] == $menuId) ? 'selected' : '';
                                        $url = $block->getUrl('megamenuadmin/item/index', ['menu_id' => $value['menu_id']]);
                                        echo '<option value="'.$url.'" '.$selected.'>'.$value['title'].'</option>';
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <div id="nestable-menu" class="pull-right">
                        <button type="button" data-action="expand-all"><i class="fa fa-minus"></i> <?php echo __('Expand All');?></button>
                        <button type="button" data-action="collapse-all"><i class="fa fa-plus"></i> <?php echo __('Collapse All'); ?></button>
                    </div>
                </div>
                <div class="col-m-6">
                    <div class="page-actions">
                        <a id="btn-add" class="action action-secondary" href="<?php echo $block->getUrl('megamenuadmin/menu/index', []); ?>">
                            <span><i class="fa fa-list"></i> <?php echo __('Back To Menu List'); ?></span>
                        </a>
                        <a id="btn-add" class="action action-primary" href="<?php echo $block->getUrl('megamenuadmin/item/new', []); ?>">
                            <span><i class="fa fa-plus-circle"></i> <?php echo __('Add New Item'); ?></span>
                        </a>
                        <?php /*
                        <a id="btn-import-categories" class="action action-secondary" href="javascript:void(0);" onclick="jQuery('#import-categories').modal('openModal');">
                            <span><i class="fa fa-download"></i> <?php //echo __('Import Categories'); ?></span>
                        </a>
                         */ ?>
                    </div>
                </div>
                <div class="cf nestable-lists">
                    <div id="nestable" class="dd">
                        <?php
                            // tree key {["parent"]["label"]["icon_image"]["link"]["is_active"]["item_id"]
                            $tree = $block->getMenuItems();
                            $structure = $block->getStructure();
                            if (sizeof($tree)) {
                                echo $block->buildTreeItem(0, $tree);
                            } else {
                                echo '<span class="no-item">'.__('Not found items. Please Add New Item !').'</span>';
                            }
                        ?>
                    </div>
                </div>
                <textarea id="nestable-output" style="visibility: hidden;"></textarea>
            </div>
        </div>
    </div>
</section>
<script>
    require([
        'jquery',
        'nestable',
        'Magento_Ui/js/modal/confirm',
        'Magento_Ui/js/modal/alert',
        "domReady!"
    ], function(jQuery, nestable, confirm, alert){

        (function($) {
            //hide the loading mask
            $("#menu-loading").hide();

            var updateOutput = function(e) {
                var list   = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize')));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            //activate Nestable for list 1
            $('#nestable').nestable({
                group: 1,
                maxDepth: 10
            }).on('change', updateOutput);


            updateOutput($('#nestable').data('output', $("#nestable-output")));

            //expand or collapse menu items tree
            $('#nestable-menu').on('click', function(e) {
                var target = $(e.target),
                    action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                }
            });

            var elementActiveId = '';

            var oldDataString = $("#nestable-output").val();
            $('.dd').on('change', function() {
                var newDataString = $("#nestable-output").val();
                if (newDataString != oldDataString) {
                    //ajax request to save menu items data
                    $.ajax({
                        type: "POST",
                        url: " <?php echo $block->getUrl('megamenuadmin/item/ajaxSortOrder', []); ?>",
                        data: {menu_data: newDataString, form_key: window.FORM_KEY},
                        cache : false,
                        beforeSend: function () {
                            $("#menu-loading").show();
                        },
                        success: function(data) {
                            $("#menu-loading").hide();
                            //update current data
                            oldDataString = $("#nestable-output").val();
                        }, error: function(xhr, status, error) {
                            alert({title: <?php echo __('Error')?>, content: error});
                        }
                    });
                }
            });

            //ajax delete menu item
            $(".megamenu-menu-tree").on("click", ".del-button", function() {
                var id = $(this).attr('id');
                confirm({
                    content: 'Are you sure you want to delete this and child of it if exists?',
                    actions: {
                        confirm: function () {
                            //ajax request to delete menu item
                            $.ajax({
                                type: "POST",
                                url: "<?php echo $block->getUrl('megamenuadmin/item/ajaxDelete') ?>",
                                data: { item_id : id, form_key: window.FORM_KEY},
                                cache : false,
                                beforeSend: function() {
                                    $("#menu-loading").show();
                                },
                                success: function(rs) {
                                    $("#menu-loading").hide();
                                    if (rs.success) {
                                        $("li[data-id='" + id +"']").remove();
                                    }
                                    console.log(rs.message);
                                }, error: function(xhr, status, error) {
                                    alert({title: Error, content: error});
                                }
                            });
                        }
                    }
                });
            });

            //ajax change status of menu item
            $(".megamenu-menu-tree").on("click", ".change-status-button", function() {
                var $el = $(this);
                var id = $el.attr('id');
                //ajax request to delete menu item
                $.ajax({
                    type: "POST",
                    url: "<?php echo $block->getUrl('megamenuadmin/item/ajaxChangeStatus') ?>",
                    data: { item_id : id, form_key: window.FORM_KEY},
                    cache : false,
                    beforeSend: function() {
                        $("#menu-loading").show();
                    },
                    success: function(rs) {
                        $("#menu-loading").hide();
                        if (rs.success) {
                            if (rs.action == 'enabled') {
                                $el.html('<i class="fa fa-toggle-on"></i>');
                            } else {
                                $el.html('<i class="fa fa-toggle-off"></i>');
                            }
                        }
                        console.log(rs.message);
                    }, error: function(xhr, status, error) {
                        alert({title: Error, content: error});
                    }
                });
            });

            //redirect to edit page when click the menu  item title
            $(".megamenu-menu-tree").on("click", ".menu-item-title", function() {
                //$( ".megamenu-menu-tree").delegate( "span.menu-item-title", "click", function() {
                var $btnEdit = $(this).siblings('.sub-actions').find('.edit-button');
                if ($btnEdit.length) {
                    window.location.href = $btnEdit.attr('href');
                }
            });

            //redirect to change list menu items when change menu group
            $('#menu_group_id').on('change', function(){
                var redirectUrl = $(this).val();
                if (redirectUrl.length) {
                    window.location.href = redirectUrl;
                }
            });

        })(jQuery);

    });
</script>

